doctype html
html(lang="en")
head
  title PaymentSlip

  body
    h1 Transaction Slip
    #container.col
      table(style='width:100%', border='1')
        tr
          th Zion ID
          td #{ZION_ID}
        tr
          th Name
          td #{NAME} 
        tr
          th Order Id
          td #{ORDER_ID}
        tr
          th Transaction Id
          td #{TXN_ID}
        tr
          th Transaction Amount
          td #{TXN_AMT} INR
        tr
          th Transaction Status
          td #{TXN_STATUS}
        tr
          th Transaction Date
          td #{TXN_DATE}
        tr
          th Customer ID
          td #{CUST_ID}
      #btn(style='text-align:center;margin-top:15px;')
        button(onclick='myFunction()') Print

      script.
        function myFunction() {
          window.print()
        }
